:root {
  --dark-blue: #03045E;
  --dark-brown: #474306;
  --yellow: #F5EE84;
  --light-yellow: #FBF8CC;
  --too-light-yellow: #F7F197;
  --f-family: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-family);
  background-color: var(--light-yellow);
  color: var(--dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-blue) !important;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.sect-heading {
  margin-top: 10rem;

  h3 {
    font-weight: 800;
    font-size: 6.25rem;
    text-transform: lowercase;
    color: var(--too-light-yellow);
    margin-bottom: 2rem;
  }

  p {
    width: 77%;
    font-size: 1.5rem;
  }
}

.right-line,
.left-line {
  width: 1px;
  background-color: var(--yellow);
}

.right-line {
  right: 10%;
}

.left-line {
  left: 10%;
}

.nav-link {
  font-size: 18px;
}

.w-img {
  width: 26px;
  max-width: unset;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

header.landing {
  padding-top: 6rem;

  .text {

    h1 {
      font-weight: 800;
      font-size: 6.25rem;
    }

    button.resume {
      --radius: 10px;
      padding: 12px 32px;
      margin-left: 1px;
      border-radius: var(--radius);
      -webkit-border-radius: var(--radius);
      -moz-border-radius: var(--radius);
      -ms-border-radius: var(--radius);
      -o-border-radius: var(--radius);
      border-color: var(--dark-brown) !important;
      color: var(--dark-brown);

      &::before {
        content: "";
        position: absolute;
        left: 6px;
        top: 6px;
        width: 100%;
        height: 100%;
        background-color: var(--yellow);
        z-index: -2;
        border-radius: var(--radius);
        -webkit-border-radius: var(--radius);
        -moz-border-radius: var(--radius);
        -ms-border-radius: var(--radius);
        -o-border-radius: var(--radius);
      }
    }
  }

  .image {

    img.hero {
      width: 506px;
    }

    img.slash {
      width: 22%;
      left: -5%;
      bottom: 24%;
    }

    img.plus {
      width: 10%;
      right: 2%;
      top: -6%;
    }
  }
}

section.about {

  ul {

    li {
      margin: 6rem auto 0 12rem;

      h5.about-heading {
        font-weight: 600;
        font-size: 1.3rem;
        position: relative;

        &::before {
          content: "";
          --width: 12px;
          position: absolute;
          left: -3%;
          top: 50%;
          background-color: #000;
          width: var(--width);
          height: var(--width);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }

      p.about-body {
        max-width: 77%;
        font-size: 1.2rem;
      }
    }
  }
}

section.work {

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;

    .work-card {
      width: 45%;

      p.date {
        font-size: 15px;
      }

      p.body {
        font-size: 18px;
      }
    }
  }
}

section.contact {
  margin-bottom: 6rem;

  .contact-card {
    gap: 8rem;

    img {
      width: 440px;
    }

    .text {

      p {
        max-width: 640px;
      }

      .social {

        a {
          color: var(--dark-blue);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  html {
      font-size: 14px;
  }
  nav.navbar .social {
    width: fit-content !important;
    padding-left: 0;
  }
  header.landing {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  section.about ul li {
    margin-left: 6rem;
  }
  section.work .content {
    flex-direction: column;

    .work-card {
      width: 90%;
    }
  }
  section.contact .contact-card {
    gap: 3rem;
    flex-direction: column;
    
    img {
      width: 100%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  section.contact .contact-card {
    gap: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section.work .work-card {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
  header.landing .image {
    width: 90%;
  }
  section.about ul li {
    margin-left: 3rem;
  }
  section.work .content {
    gap: 3rem;
  
    .work-card {
      width: 100%;
    }
  }
}

@media (max-width: 474px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 424px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}
